In [6]:
import numpy
import pandas as pd
from sklearn import preprocessing
numpy.random.seed(10)

In [7]:
all_df = pd.read_excel("data/forestfires.xls")

In [8]:
cols=['X','Y','month' ,'day', 'FFMC',
       'DMC','DC','ISI','temp','RH','wind','rain','area',]
all_df=all_df[cols]

In [9]:
all_df[:2]

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0

In [10]:
all_df['month']= all_df['month'].map({'jan': 1, 'feb': 2, 'mar': 3, 'apr': 4, 
                 'may': 5, 'jun': 6, 'jul': 7, 'aug': 8, 
                 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12}).astype(int)
all_df['day']= all_df['day'].map({'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 
               'fri': 5, 'sat': 6, 'sun': 7 }).astype(int)

In [11]:
all_df[:2]

   X  Y  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5      3    5  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4     10    2  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0