In [1]:
import numpy
import pandas as pd
from sklearn import preprocessing
numpy.random.seed(10)

In [2]:
all_df = pd.read_excel("data/forestfires.xls")

In [3]:
cols=['X','Y','month' ,'day', 'FFMC',
       'DMC','DC','ISI','temp','RH','wind','rain','area',]
all_df=all_df[cols]

In [4]:
all_df[:2]

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0