In [196]:
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
import csv
np.random.seed(10)
%matplotlib inline

In [197]:
all_df = pd.read_excel("data/titanic3.xls")

In [198]:
all_df[:4]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"

In [199]:
cols=['survived','name','pclass' ,'sex', 'age', 'sibsp',
      'parch', 'fare', 'embarked']
all_df=all_df[cols]
df=all_df.drop(['name'], axis=1)
df['sex']= df['sex'].map({'female':0, 'male': 1}).astype(int)
df = pd.get_dummies(data=df,columns=["embarked" ])
df.isnull().sum()

survived        0
pclass          0
sex             0
age           263
sibsp           0
parch           0
fare            1
embarked_C      0
embarked_Q      0
embarked_S      0
dtype: int64

In [200]:
df.count()

survived      1309
pclass        1309
sex           1309
age           1046
sibsp         1309
parch         1309
fare          1308
embarked_C    1309
embarked_Q    1309
embarked_S    1309
dtype: int64

In [201]:
df3=df.dropna(axis=0,how='any')
df3.count()
df3[:5]

,survived,pclass,sex,age,sibsp,parch,fare,embarked_C,embarked_Q,embarked_S
0,1,1,0,29.0000,0,0,211.3375,0.0,0.0,1.0
1,1,1,1,0.9167,1,2,151.5500,0.0,0.0,1.0
2,0,1,0,2.0000,1,2,151.5500,0.0,0.0,1.0
3,0,1,1,30.0000,1,2,151.5500,0.0,0.0,1.0
4,0,1,0,25.0000,1,2,151.5500,0.0,0.0,1.0

In [202]:
df3=df3.values

In [224]:
y=np.round(df3[:,3])
y

array([29.,  1.,  2., ..., 26., 27., 29.])

In [225]:
x=np.delete(df3,3, axis=1)
x[:2]

array([[  1.    ,   1.    ,   0.    ,   0.    ,   0.    , 211.3375,
          0.    ,   0.    ,   1.    ],
       [  1.    ,   1.    ,   1.    ,   1.    ,   2.    , 151.55  ,
          0.    ,   0.    ,   1.    ]])

In [281]:
df['age'].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15       True
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1279    False
1280    False
1281    False
1282     True
1283     True
1284     True
1285    False
1286    False
1287    False
1288    False
1289    False
1290    False
1291     True
1292     True
1293     True
1294    False
1295    False
1296    False
1297     True
1298    False
1299    False
1300    False
1301    False
1302     True
1303     True
1304    False
1305     True
1306    False
1307    False
1308    False
Name: age, dtype: bool

In [298]:
df4 = df[df['age'].isnull()==True]
df5=df4.drop(['age'], axis=1)
df5

,survived,pclass,sex,sibsp,parch,fare,embarked_C,embarked_Q,embarked_S
15,0,1,1,0,0,25.9250,0.0,0.0,1.0
37,1,1,1,0,0,26.5500,0.0,0.0,1.0
40,0,1,1,0,0,39.6000,1.0,0.0,0.0
46,0,1,1,0,0,31.0000,0.0,0.0,1.0
59,1,1,0,0,0,27.7208,1.0,0.0,0.0
69,1,1,0,0,1,55.0000,0.0,0.0,1.0
70,0,1,1,0,0,0.0000,0.0,0.0,1.0
74,0,1,1,0,0,52.0000,0.0,0.0,1.0
80,0,1,1,0,0,26.5500,0.0,0.0,1.0
106,0,1,1,0,0,221.7792,0.0,0.0,1.0
107,1,1,0,0,0,31.6833,0.0,0.0,1.0
108,1,1,0,0,0,110.8833,1.0,0.0,0.0
118,0,1,1,0,0,26.5500,0.0,0.0,1.0
121,1,1,0,1,0,133.6500,0.0,0.0,1.0
125,0,1,1,0,0,0.0000,0.0,0.0,1.0
134,1,1,0,1,0,89.1042,1.0,0.0,0.0
147,0,1,1,0,0,42.4000,0.0,0.0,1.0
152,1,1,1,0,0,30.0000,0.0,0.0,1.0
157,0,1,1,0,0,51.8625,0.0,0.0,1.0
166,0,1,1,0,0,30.6958,1.0,0.0,0.0
176,1,1,0,1,0,51.8625,0.0,0.0,1.0
179,0,1,1,0,0,26.5500,0.0,0.0,1.0
184,0,1,1,0,0,27.7208,1.0,0.0,0.0
196,1,1,1,0,0,29.7000,1.0,0.0,0.0
204,1,1,0,1,0,82.1708,1.0,0.0,0.0
219,1,1,1,0,0,25.7417,1.0,0.0,0.0
223,0,1,1,0,0,0.0000,0.0,0.0,1.0
235,1,1,1,0,0,39.6000,0.0,0.0,1.0
237,0,1,1,0,0,227.5250,1.0,0.0,0.0
241,0,1,1,0,0,50.0000,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
1202,0,3,1,0,0,8.0500,0.0,0.0,1.0
1212,0,3,1,0,0,7.8958,0.0,0.0,1.0
1213,0,3,1,0,0,8.0500,0.0,0.0,1.0
1214,0,3,1,0,0,8.6625,0.0,0.0,1.0
1215,0,3,1,0,0,7.7500,0.0,1.0,0.0
1216,1,3,0,0,0,7.7333,0.0,1.0,0.0
1219,0,3,1,0,0,8.0500,0.0,0.0,1.0
1221,0,3,1,0,0,7.8958,0.0,0.0,1.0
1241,0,3,1,1,0,6.4375,1.0,0.0,0.0
1242,0,3,1,0,0,6.4375,1.0,0.0,0.0
1243,0,3,1,0,0,7.2250,1.0,0.0,0.0
1245,0,3,1,0,0,8.0500,0.0,0.0,1.0
1246,0,3,1,1,0,16.1000,0.0,0.0,1.0
1247,1,3,0,1,0,16.1000,0.0,0.0,1.0
1249,0,3,1,0,0,7.7500,0.0,1.0,0.0
1250,0,3,1,0,0,7.8958,0.0,0.0,1.0
1253,0,3,1,0,0,7.2292,1.0,0.0,0.0
1255,0,3,1,0,0,7.2292,1.0,0.0,0.0
1262,0,3,1,1,1,14.5000,0.0,0.0,1.0
1268,0,3,1,0,0,9.5000,0.0,0.0,1.0
1282,0,3,1,0,0,8.0500,0.0,0.0,1.0
1283,0,3,1,0,0,7.5500,0.0,0.0,1.0
1284,0,3,1,0,0,8.0500,0.0,0.0,1.0
1291,0,3,1,0,0,8.7125,0.0,0.0,1.0
1292,0,3,1,0,0,7.5500,0.0,0.0,1.0
1293,0,3,1,0,0,8.0500,0.0,0.0,1.0
1297,0,3,1,0,0,7.2500,0.0,0.0,1.0
1302,0,3,1,0,0,7.2250,1.0,0.0,0.0
1303,0,3,1,0,0,14.4583,1.0,0.0,0.0
1305,0,3,0,1,0,14.4542,1.0,0.0,0.0

In [287]:
knn= KNeighborsClassifier(n_neighbors=10)
trained_model =knn.fit(x,y)

In [297]:
imputed_values = trained_model.predict(df5)
len(imputed_values)
imputed_values

array([30., 36.,  1., 25., 53., 25., 49., 31., 42., 18., 19., 17., 42.,
        6., 49., 33.,  1., 19., 31., 26., 35., 42., 28., 26., 23., 35.,
       49.,  1., 18., 31., 19., 36., 30., 58., 28., 35., 46., 28.,  8.,
       49., 31., 49., 49., 28., 49., 16., 61., 27., 40., 27., 49., 27.,
       49., 36., 42., 22., 30.,  9., 30., 27., 18., 28., 24., 26., 26.,
       22., 30., 30., 24., 18., 21., 21., 21., 32., 22., 21., 22., 47.,
       18., 16., 22., 34., 34., 28., 21., 16., 32., 18., 21., 18., 21.,
       26., 26., 25., 16., 32.,  4.,  4.,  4.,  4., 22., 21., 22., 16.,
       16., 21., 27., 18., 21., 21., 21., 18., 30., 26., 32., 32., 21.,
        3., 24., 24., 24.,  7.,  9., 30., 31., 18., 26., 26., 18., 16.,
       18., 21., 22., 22., 16., 22., 22., 18., 16., 21., 30., 30.,  2.,
       16., 28., 16., 21., 18., 28., 28., 21., 22., 26., 16., 22., 30.,
       28., 21., 21., 21.,  9.,  9.,  9., 22., 22., 16., 22., 19., 19.,
       40., 26., 22., 18., 26., 30., 31., 19., 21., 21., 21., 18., 16.,
       16., 21., 16., 22., 18., 17., 25., 26., 22.,  4.,  4.,  4., 18.,
       26., 26., 26., 28., 22., 22., 16., 47., 47., 22., 26., 18., 21.,
       28., 22., 30., 21., 18., 14., 14., 14., 14., 14., 14., 14., 14.,
       24., 24., 29., 29., 29., 21., 26., 21., 28., 16., 22., 22., 22.,
       26., 22., 17., 21., 16., 22., 26., 20., 20., 30., 22., 28., 24.,
       21., 26., 22., 22.,  1., 28., 22., 18., 22., 17., 18., 22., 22.,
       30., 18., 18.])