In [2]:
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
import csv
np.random.seed(10)
%matplotlib inline

In [3]:
all_df = pd.read_csv("data/train.csv")

In [4]:
all_df.shape

(2000, 21)

In [5]:
all_df[:4]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2

In [6]:
all_df.info

<bound method DataFrame.info of       battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
5              1859     0          0.5         1   3       0          22
6              1821     0          1.7         0   4       1          10
7              1954     0          0.5         1   0       0          24
8              1445     1          0.5         0   0       0          53
9               509     1          0.6         1   2       1           9
10              769     1          2.9         1   0       0           9
11             1520     1          2.2         0   5       1          33
12             1815     0          2.8         0   2       0          33
13              803     1          2.1         0   7       0          17
14             1866     0          0.5         0  13       1          52
15              775     0          1.0         0   3       0          46
16              838     0          0.5         0   1       1          13
17              595     0          0.9         1   7       1          23
18             1131     1          0.5         1  11       0          49
19              682     1          0.5         0   4       0          19
20              772     0          1.1         1  12       0          39
21             1709     1          2.1         0   1       0          13
22             1949     0          2.6         1   4       0          47
23             1602     1          2.8         1   4       1          38
24              503     0          1.2         1   5       1           8
25              961     1          1.4         1   0       1          57
26              519     1          1.6         1   7       1          51
27              956     0          0.5         0   1       1          41
28             1453     0          1.6         1  12       1          52
29              851     0          0.5         0   3       0          21
...             ...   ...          ...       ...  ..     ...         ...
1970           1913     1          1.8         0   0       0          29
1971            538     0          1.1         1   0       1          25
1972           1191     0          0.8         0   6       1          46
1973            816     0          3.0         1   2       0           9
1974            915     1          0.5         1   9       1          33
1975           1157     1          0.8         0   7       0          27
1976           1201     1          0.5         0   2       0          10
1977           1379     0          1.1         1   1       1          18
1978           1483     1          2.2         0   3       1          53
1979           1614     0          1.2         0   1       1           9
1980            930     1          1.0         1   4       1           4
1981           1454     0          2.6         0   8       0           6
1982           1784     0          1.6         0   4       0          41
1983           1262     0          1.8         1  12       0          34
1984            797     0          2.2         1   0       0          37
1985           1829     1          2.1         0   8       0          59
1986           1139     1          0.9         1   6       1          58
1987            618     1          1.0         0   9       1          13
1988           1547     1          2.9         0   2       0          57
1989            586     0          2.8         0   2       0          15
1990           1617     1          2.4         0   8       1          36
1991           1882     0          2.0         0  11       1          44
1992            674     1          2.9         1   1       0          21
1993           1467     1          0.5         0   0       0          18
1994            858     0          2.2         0   1       0          50
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores     ...       px_height  px_width   ram  sc_h  \
0       0.6        188        2     ...              20       756  2549     9
1       0.7        136        3     ...             905      1988  2631    17
2       0.9        145        5     ...            1263      1716  2603    11
3       0.8        131        6     ...            1216      1786  2769    16
4       0.6        141        2     ...            1208      1212  1411     8
5       0.7        164        1     ...            1004      1654  1067    17
6       0.8        139        8     ...             381      1018  3220    13
7       0.8        187        4     ...             512      1149   700    16
8       0.7        174        7     ...             386       836  1099    17
9       0.1         93        5     ...            1137      1224   513    19
10      0.1        182        5     ...             248       874  3946     5
11      0.5        177        8     ...             151      1005  3826    14
12      0.6        159        4     ...             607       748  1482    18
13      1.0        198        4     ...             344      1440  2680     7
14      0.7        185        1     ...             356       563   373    14
15      0.7        159        2     ...             862      1864   568    17
16      0.1        196        8     ...             984      1850  3554    10
17      0.1        121        3     ...             441       810  3752    10
18      0.6        101        5     ...             658       878  1835    19
19      1.0        121        4     ...             902      1064  2337    11
20      0.8         81        7     ...            1314      1854  2819    17
21      1.0        156        2     ...             974      1385  3283    17
22      0.3        199        4     ...             407       822  1433    11
23      0.7        114        3     ...             466       788  1037     8
24      0.4        111        3     ...             201      1245  2583    11
25      0.6        114        8     ...             291      1434  2782    18
26      0.3        132        4     ...             550       645  3763    16
27      1.0        143        7     ...             511      1075  3286    17
28      0.3         96        2     ...             187      1311  2373    10
29      0.4        200        5     ...            1171      1263   478    12
...     ...        ...      ...     ...             ...       ...   ...   ...
1970    0.6        111        5     ...             675       742  2023    17
1971    0.3        163        7     ...             455       537  2215     9
1972    0.8         89        6     ...              42       807   824    19
1973    0.1        117        1     ...            1196      1651  3851    10
1974    0.3        199        2     ...             503       986  2156     7
1975    0.1         88        8     ...            1694      1798  2885     8
1976    1.0         99        7     ...             306       558   495    15
1977    0.2        129        2     ...             838       885  2358    10
1978    0.7        169        5     ...             291       651  1744     6
1979    0.1        161        3     ...             173      1219  1832    15
1980    0.9        144        8     ...            1017      1289  2016    13
1981    0.4        199        3     ...             698      1018  1300    10
1982    0.4        164        6     ...             610      1437  2313    14
1983    0.1        149        5     ...             223       737  3248    13
1984    0.9        144        7     ...             206      1167  2216     9
1985    0.1         91        5     ...            1457      1919  3142    16
1986    0.5        161        2     ...             742       999  1850     9
1987    0.1         80        4     ...             591       724  1424    15
1988    0.4        114        1     ...             347       957  1620     9
1989    0.2         83        3     ...             241       854  2592    12
1990    0.8         85        1     ...             743      1426   296     5
1991    0.8        113        8     ...               4       743  3579    19
1992    0.2        198        3     ...             576      1809  1180     6
1993    0.6        122        5     ...             888      1099  3962    15
1994    0.1         84        1     ...             528      1416  3978    17
1995    0.8        106        6     ...            1222      1890   668    13
1996    0.2        187        4     ...             915      1965  2032    11
1997    0.7        108        8     ...             868      1632  3057     9
1998    0.1        145        5     ...             336       670   869    18
1999    0.9        168        6     ...             483       754  3919    19

      sc_w  talk_time  three_g  touch_screen  wifi  price_range
0        7         19        0             0     1            1
1        3          7        1             1     0            2
2        2          9        1             1     0            2
3        8         11        1             0     0            2
4        2         15        1             1     0            1
5        1         10        1             0     0            1
6        8         18        1             0     1            3
7        3          5        1             1     1            0
8        1         20        1             0     0            0
9       10         12        1             0     0            0
10       2          7        0             0     0            3
11       9         13        1             1     1            3
12       0          2        1             0     0            1
13       1          4        1             0     1            2
14       9          3        1             0     1            0
15      15         11        1             1     1            0
16       9         19        1             0     1            3
17       2         18        1             1     0            3
18      13         16        1             1     0            1
19       1         18        0             1     1            1
20      15          3        1             1     0            3
21       1         15        1             0     0            3
22       5         20        0             0     1            1
23       7         20        1             0     0            0
24       0         12        1             0     0            1
25       9          7        1             1     1            2
26       1          4        1             0     1            3
27       8         12        1             1     0            3
28       1         10        1             1     1            2
29       7         10        1             0     1            0
...    ...        ...      ...           ...   ...          ...
1970    13          8        1             1     0            2
1971     3         17        1             1     1            1
1972    18          7        1             0     0            0
1973     3         14        1             0     1            3
1974     3         13        1             1     0            1
1975     4          2        1             0     1            3
1976     6         14        1             1     1            0
1977     5         15        1             1     0            2
1978     3         10        1             0     0            1
1979     8         11        1             0     0            1
1980    10         16        1             1     1            1
1981     0          2        0             0     1            1
1982     1         11        0             1     0            2
1983     3          4        0             1     1            2
1984     5          6        1             0     0            1
1985     6          5        1             1     1            3
1986     4          8        1             0     0            1
1987    12          7        1             1     0            0
1988     2         19        0             1     1            1
1989     8          3        0             0     0            1
1990     3          7        1             0     0            0
1991     8         20        1             1     0            3
1992     3          4        1             1     1            0
1993    11          5        1             1     1            3
1994    16          3        1             1     0            3
1995     4         19        1             1     0            0
1996    10         16        1             1     1            2
1997     1          5        1             1     0            3
1998    10         19        1             1     1            0
1999     4          2        1             1     1            3

[2000 rows x 21 columns]>

In [119]:
all_df = all_df.drop(['Location','Date','Evaporation','Sunshine', 'Cloud9am','Cloud3pm','WindGustDir',
                      'WindDir9am','WindDir3pm'], axis=1)

In [120]:
all_df.isnull().sum()

MinTemp            637
MaxTemp            322
Rainfall          1406
WindGustSpeed     9270
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [121]:
all_df = all_df.dropna(how='any')

In [122]:
all_df[:4]

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,0.0,No
1,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,0.0,No
2,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,0.0,No
3,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,1.0,No

In [123]:
all_df.shape

(119590, 15)

In [124]:
all_df['RainTomorrow']= all_df['RainTomorrow'].map({'No':0, 'Yes': 1}).astype(int)

In [125]:
all_df['RainToday']= all_df['RainToday'].map({'No':0, 'Yes': 1}).astype(int)

In [115]:
all_df[:4]

,MinTemp,MaxTemp,Rainfall,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,13.4,22.9,0.6,71.0,22.0,1007.7,1007.1,16.9,21.8,0,0.0,0
1,7.4,25.1,0.0,44.0,25.0,1010.6,1007.8,17.2,24.3,0,0.0,0
2,12.9,25.7,0.0,38.0,30.0,1007.6,1008.7,21.0,23.2,0,0.0,0
3,9.2,28.0,0.0,45.0,16.0,1017.6,1012.8,18.1,26.5,0,1.0,0

In [127]:
all_df.isnull().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [128]:
all_df.to_csv('weather.csv')