In [1]:
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
import csv
np.random.seed(10)
%matplotlib inline

In [2]:
data = pd.read_csv("data/dota2test.csv")

In [3]:
data2 = pd.read_csv("data/dota2train.csv")

In [4]:
data.shape

(10293, 117)

In [5]:
data2.shape

(92649, 117)

In [6]:
data2[:2]

,-1,223,2,2.1,0,0.1,0.2,0.3,0.4,0.5,...,0.93,0.94,0.95,0.96,0.97,0.98,0.99,0.100,0.101,0.102
0,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
1,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0

In [119]:
all_df = all_df.drop(['Location','Date','Evaporation','Sunshine', 'Cloud9am','Cloud3pm','WindGustDir',
                      'WindDir9am','WindDir3pm'], axis=1)

In [120]:
all_df.isnull().sum()

MinTemp            637
MaxTemp            322
Rainfall          1406
WindGustSpeed     9270
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [121]:
all_df = all_df.dropna(how='any')

In [122]:
all_df[:4]

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,0.0,No
1,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,0.0,No
2,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,0.0,No
3,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,1.0,No

In [123]:
all_df.shape

(119590, 15)

In [124]:
all_df['RainTomorrow']= all_df['RainTomorrow'].map({'No':0, 'Yes': 1}).astype(int)

In [125]:
all_df['RainToday']= all_df['RainToday'].map({'No':0, 'Yes': 1}).astype(int)

In [115]:
all_df[:4]

,MinTemp,MaxTemp,Rainfall,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,13.4,22.9,0.6,71.0,22.0,1007.7,1007.1,16.9,21.8,0,0.0,0
1,7.4,25.1,0.0,44.0,25.0,1010.6,1007.8,17.2,24.3,0,0.0,0
2,12.9,25.7,0.0,38.0,30.0,1007.6,1008.7,21.0,23.2,0,0.0,0
3,9.2,28.0,0.0,45.0,16.0,1017.6,1012.8,18.1,26.5,0,1.0,0

In [127]:
all_df.isnull().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [128]:
all_df.to_csv('weather.csv')