In [2]:
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
import csv
np.random.seed(10)
%matplotlib inline

In [3]:
all_df = pd.read_csv("data/bank.csv")

In [4]:
all_df.shape

(11162, 17)

In [5]:
all_df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [6]:
all_df[:4]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes

In [7]:
all_df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [8]:
cols=['age','balance' ,'day', 'duration',
       'campaign','pdays','previous','deposit']
all_df=all_df[cols]

In [9]:
all_df[:4]

   age  balance  day  duration  campaign  pdays  previous deposit
0   59     2343    5      1042         1     -1         0     yes
1   56       45    5      1467         1     -1         0     yes
2   41     1270    5      1389         1     -1         0     yes
3   55     2476    5       579         1     -1         0     yes

In [10]:
all_df.shape

(11162, 8)

In [13]:
all_df['deposit']= all_df['deposit'].map({'no':0, 'yes': 1}).astype(int)