In [5]:
import numpy
import pandas as pd
from sklearn import preprocessing
numpy.random.seed(10)

In [6]:
all_df = pd.read_excel("data/winequality-red.xls")

In [7]:
all_df[:2]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [8]:
cols=['fixed acidity','volatile acidity','citric acid' ,'residual sugar', 'chlorides',
       'free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol','quality',]
all_df=all_df[cols]

In [9]:
all_df[:2]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5